body{margin:0;padding:0;background-color: #121212;color: white;font-family:Arial,sans-serif;text-align:center;}
h1{font-size:3rem;margin:20px 0;}
#imageContainer{position:relative;width:100%;margin: 0 auto;}
#backgroundImage{width:100%;max-width:1900px;display:block;}
#overlayImage{position:absolute;top:27%;left:50%;transform:translate(-60%,-50%);width:18%;transition:transform 0.3s ease;}
#overlayImage2{position:absolute;top:35%;left:50%;transform:translate(-70%,-50%);width:10%;transition:transform 0.3s ease;}
#overlayImage3{position:absolute;top:10%;left:50%;transform:translate(-65%,-50%);width:10%;transition:transform 0.3s ease;}
#overlayImage4{position:absolute;top:25%;left:55%;transform:translate(-65%,-50%);width: 5%;transition:transform 0.3s ease;}
#overlayImage5{position:absolute;top:31%;left:53.5%;transform:translate(-65%,-50%);width:7%;transition:transform 0.3s ease;}
#overlayImage6{position:absolute;top:38%;left:64%;transform:translate(-65%,-50%);width:13%;transition:transform 0.3s ease;}
#overlayImage7{position:absolute;top:87%;left:52.5%;transform:translate(-65%,-50%);width:31%;transition:transform 0.3s ease;}
#overlayImage.zoomed{transform:translate(-60%,-50%) scale(1.2);}
#overlayImage2.zoomed{transform:translate(-70%,-50%) scale(1.2);}
#overlayImage3.zoomed{transform:translate(-65%,-50%) scale(1.2);}
#overlayImage4.zoomed{transform:translate(-65%,-50%) scale(1.2);}
#overlayImage5.zoomed{transform:translate(-65%,-50%) scale(1.2);}
#overlayImage6.zoomed{transform:translate(-65%,-50%) scale(1.2);}
#overlayImage7.zoomed{transform:translate(-65%, -50%) scale(1.2);}